.Wrapper {
  width: 100%;
  height: 100%;
  background: rgb(243,245,247);
}

.back {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  color: #fff;
  -ms-flex-align: center;
  align-items: center;
  background: rgb(18,149,209);
}

.back img {
  height: 20px;
  width: 30px;
}

.list {
  flex-basis: initial;
  text-align: center;
}

.list img{
  width: 35px;
  height: 35px;
}

.discoverlist {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: rgb(243,245,247);
  flex-wrap: wrap;
}

.discoverItem {
  width: 100%;
  height: 200px;
}

.imgDetail {
  width: 100%;
}

.imgDetail img {
  width: 100%;
  height: 150px;
}

.itemTitle {
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: black;
  overflow: hidden;
}

.discoverWrap{
  width: 40%;
  background: #fff;
  margin-top: 8px;
}