.detail_head{
    height: 120px;
    line-height: 120px;
    background: url(../../assets/yay.jpg) center top;
    background-repeat: no-repeat;
}

.detail_head img{
    width: 80px;
    height: 80px;
}