.shopbox {
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #fff;
    overflow: scroll;
}

/* 图片 */
.img {
    padding-bottom: 65px;
}
.img img {
    padding-right: 10px;
    margin-bottom: 15px;
}

