.detail_head{
    height: 120px;
    width: 100%;
    line-height: 120px;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1999;
    
}

.detail_head img{
    width: 80px;
    height: 80px;
}