.detail_head{
    height: 20%;
    width: 100%;
    line-height: 120px;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1999;
    
}

.detail_head img{
    width: 80px;
    height: 80px;
}

.box {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.box_left {
    width: 20%;
    height: 100%;
    overflow: scroll;
    background: #f3f5f7;
}

.box_left_item {
    background: rgb(243, 245, 247);
    font-size: 12px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-bottom: 1px solid rgb(223, 216, 216);
    border-right: 1px solid rgb(223, 216, 216);
}

.box_right{
    height: 100%;
    overflow: scroll;
    width: 80%;
    background: #f3f5f7;
}

.wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.active {
    background: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 12px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-bottom: 1px solid rgb(223, 216, 216);
}

.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.foot {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.footer{
    width: 100%;
    height: 65px;
    min-height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #141d27;
    color: #fff;
    align-items: center;
}

.footer img {
    width: 20px;
    height: 20px;
}

.footer_middle_right {
    width: 30%;
    display: flex;
    height: 100%;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    background: cornflowerblue;
}

.footer_right {
    background: rgb(255, 0, 54);
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.footer_left{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_middle {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.footer_circle {
    width: 40px;
    height: 40px;
    line-height: 50px;
    text-align: center;
    border-radius: 20px;
    background: #fff;
}

.buycar {
    background: rgb(243,245,247);
    height: 35px;
    line-height: 35px;
    padding-left: 20px;
    font-weight: bold;
}