.detail_head{
    height: 120px;
    width: 100%;
    line-height: 120px;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1999;
    
}

.detail_head img{
    width: 80px;
    height: 80px;
}

.box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.box_left {
    width: 20%;
    height: 100%;
    overflow: scroll;
}

.box_left_item {
    background: rgb(243, 245, 247);
    font-size: 12px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-bottom: 1px solid rgb(223, 216, 216);
    border-right: 1px solid rgb(223, 216, 216);
}

.box_right{
    height: 100%;
    overflow: scroll;
    width: 80%;
}

.wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.active {
    background: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 12px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-bottom: 1px solid rgb(223, 216, 216);
}