$color: #000;
.color {
    color: $color;
}

.list {
    margin-bottom: 15px;
}
.list>div {
    background-color: #f5f5f9;
}

.contain {
  background-color: #eee;
  
  img {
    $size: 44px;
    width: $size;
    height: $size;
  }
  @at-root {
    .flexitem {
      text-align: right;
    }
  }
}

.listheader {
    padding: 12.5px 15px;

    background-color: #fff;

    @at-root {
        .textalign {
            text-align: right;
        }
    }
}

.item {
    background-color : rgba(255, 255, 255, 0.8);
}

// 订单总价
.allPrice {
    background-color: #fff;
    padding: 10px 5px;

    @at-root {
        .price {
            text-align: right;
        }
    }
}
.listfooter {
    @extend .listheader;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 5px;
    clear: both;

    @at-root {
        .eval {
            $size: 15px;
            margin-left: 5px;
            padding: 5px $size;
            border: 1px solid #000;
            border-radius: $size;

            color: #000;
        }
    }
}