.radio {
    margin-left: 15px;
    padding-bottom: 15px;
    padding-top: 15px;

}

.myradio>span{
    $paddingLR: 1.5px;
    padding-left: $paddingLR;
    padding-right: $paddingLR;
    
    margin-top: -5px;
    border: 1px solid #000;
    margin-right: 5px;
}

.footer {
    $height: 40px;
    position: fixed;
    width: 100%;
    height: $height;
    line-height: $height;
    bottom: 0;

    text-align: center;
    background-color: #fff;
    color: blue;
}