/* 
 * @2018-4-19 gyb 
 */

// 整体
.list {
    padding-top: 60px;

    @at-root {
        .userInput {
            background-color: #f5f5f5;
        }
        .code {
            position: relative;

            span {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
            }      
        }
        // 其他方式的隔离
        .userOr {
            margin-top: 10px;

            text-align: center;
        }

        // 其他登录方式
        .otherLogin {
            i {
                position: relative;
               
                display: block;
                margin-top: 15px;

                &::before {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);

                    font-size: 20px;
                    color: green;
                }
            }
        }
    }
}
// 登录按钮
.userBtn {
    font-size: 20px;
    font-weight: bold;
    color: #fff;

    background-color: #23ac38;
}

