/*
 * @gyb 2018-4-26
 */
 
.registerList {
    padding-top: 60px;

    @at-root {
        .userInput {
          background-color: #f5f5f5;
        }
        // 发送验证码的大小
        .codeBtn {
            max-width: 75px;

            .codeFont {

                font-size: 14px;
            }
        }
        // 协议的样式
        .protocol {
            color: blue;
        }
    }
}